/* style.css */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertikal */
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.card img {
    object-fit: cover;
}

/* style.css */

.login-page {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
}
